* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

header {
    background: linear-gradient(135deg, #003d82, #005bb5);
    padding: 50px 0;
    color: white;
    text-align: center;
}

.profile-card {
    max-width: 550px;
    margin: auto;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    margin-bottom: 10px;
}

.name-title {
    font-size: 28px;
    margin-top: 10px;
}


.contact-box {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.12);
    padding: 15px;
    border-radius: 12px;
}

.contact-box p {
    margin: 6px 0;
    font-size: 15px;
}


.social-cards {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-card {
    background: white;
    color: #003d82;
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.18);
    transition: 0.25s ease;
}

.social-card:hover {
    transform: translateY(-5px);
    background: #eaf2ff;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

h2 {
    color: #003d82;
    margin-bottom: 10px;
    margin-top: 40px;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.project-card:hover {
    transform: translateY(-6px);
}

.project-card h3 {
    color: #003d82;
}


.skills-section h3 {
    margin-top: 25px;
    color: #003d82;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px 0 25px;
}

.skill-card {
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
    font-weight: 600;
    color: #003d82;
    transition: 0.25s ease;
}

.skill-card:hover {
    transform: translateY(-4px);
    background: #e7f0ff;
}


.languages-box {
    margin-top: 20px;
    max-width: 550px;
}

.language-item {
    margin-bottom: 15px;
}

.language-name {
    font-weight: 600;
    margin-bottom: 6px;
}

.language-bar {
    width: 100%;
    height: 12px;
    background: #dcdcdc;
    border-radius: 15px;
    overflow: hidden;
}

.language-progress {
    height: 100%;
    background: #003d82;
    border-radius: 15px;
    transition: width 0.4s ease-in-out;
}


footer {
    margin-top: 50px;
    background: #002a58;
    padding: 25px 0;
    color: white;
    text-align: center;
}

.footer-social a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
}